---
import Chip from "../../components/Chip.astro";
import MainVisual from "../../components/MainVisual.astro";
import FluidLayout from "../../layouts/FluidLayout.astro";
import "../../styles/top-page.css";
import SponsorBoard from "../../components/SponsorBoard.astro";
import Button from "../../components/Button.astro";
---

<style>
  /* 英語サイトだけ先頭1文字目のカラーリングを無効 */
  .section.event .section-title::first-letter {
    color: inherit;
  }
</style>

<FluidLayout>
  <MainVisual />
  <section class="section event">
    <h2 class="section-title">
      What is <span class="accent">Go Conference</span>?
    </h2>
    <p>
      Go Conference is a conference for users of the programming language "Go".
    </p>
    <table class="event-table">
      <tbody>
        <tr>
          <th><Chip class="chip" variant="secondary">Date & Time</Chip></th>
          <td>
            <p>
              Day 1<br />
              Saturday, September 27, 2025<br />
            </p>
            <p>
              Day 2<br />
              Sunday, September 28, 2025<br />
            </p>
          </td>
        </tr>
        <tr>
          <th><Chip class="chip" variant="secondary">Venue</Chip></th>
          <td>Abema Towers 10F / 11F, 40-1 Udagawacho, Shibuya-ku, Tokyo</td>
        </tr>
        <tr>
          <th><Chip class="chip" variant="secondary">Fee</Chip></th>
          <td>
            <span>General:</span>5,000 yen (tax included)<br />
            <span>Student:</span>1,000 yen (tax included)
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="section attend">
    <h2 class="section-title">
      <span class="accent">W</span>orkshop
    </h2>
    <div>You can register for workshops via Connpass.</div>
    <div class="workshop-cards">
      <div class="workshop-card">
        <h4>Workshop <span class="accent">Part 1</span></h4>
        <ul>
          <li>今日から始めるpprof</li>
          <li>TinyGo Keeb Workshop</li>
          <li>Goを使ってTDDを体験しよう！！</li>
        </ul>
        <Button
          href="https://gocon.connpass.com/event/367002"
          target="_blank"
          size="large"
          variant="secondary"
        >
          Register
        </Button>
      </div>
      <div class="workshop-card">
        <h4>Workshop <span class="accent">Part 2</span></h4>
        <ul>
          <li>†開発を加速させる黒魔術講座†</li>
          <li>TinyGo + Gopherくん基板で遊ぼう</li>
          <li>作って理解するGOCACHEPROG</li>
        </ul>
        <Button
          href="https://gocon.connpass.com/event/367006"
          target="_blank"
          size="large"
          variant="secondary"
        >
          Register
        </Button>
      </div>
      <div class="workshop-card">
        <h4>Workshop <span class="accent">Part 3</span></h4>
        <ul>
          <li>Goのカードゲームで遊ぼう</li>
          <li>Go Quiz Workshop</li>
        </ul>
        <Button
          href="https://gocon.connpass.com/event/367007"
          target="_blank"
          size="large"
          variant="secondary"
        >
          Register
        </Button>
      </div>
    </div>
  </section>

  <section class="section">
    <h2 class="section-title">
      <span class="accent">S</span>ponsors
    </h2>
    <SponsorBoard />
  </section>
</FluidLayout>
